@inherits LayoutComponentBase

<PageTitle>RetailAPIComparator</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">

    <MudLayout>
        <MudAppBar Elevation="1">
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>
